<!-- <!DOCTYPE html>
<body>
    <%= link_to "Setup", setup_employees_url%>
    <%= link_to 'Personnels'%>
    <%= link_to 'Departments', department_index_url %>
    <%= link_to 'Company',   company_index_url %>

    
</body> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document Management System</title>
    <style>
        nav {
            background-color: hsl(0, 0%, 0%);
            color: #fff;
            padding: 10px 0;
            font-family: "Roboto Mono", monospace;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-around;
        }

        nav li {
            display: inline-block;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            padding: 5px 15px;
            display: inline-flex;
            align-items: center;
        }

        .material-symbols-outlined {
            font-size: 20px;
            margin-right: 8px;
        }

        nav a:hover {
            background-color: #333;
            border-radius: 5px;
        }

        body {
            font-family: Arial, sans-serif;
        }

        .image-section {
            margin-top: 5%;
            width: 100%;
            height: 80vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            z-index: -5;
        }

        .image-section h1 {
            font-size: 80px;
        }

        .image-section sup {
            font-size: medium;
        }

        .image-section h2 {
            font-size: 30px;
            margin-left: 1%;
        }

        .image-section pre {
            font-size: 20px;
            margin-left: 1%;
            font-weight: 500;
            font-family: Arial, sans-serif;
        }


        .image-section img {
            height: 50%;
            width: 35%;
            height: auto;
            display: block;
            z-index: -100;
        }

        .demo-faq {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: 5%;
        }

        .demo-section {
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 30%;
            text-align: center;
        }

        .demo-section h2 {
            color: #333;
            margin-bottom: 15px;
        }

        .demo-section p {
            margin-bottom: 20px;
            color: #666;
        }

        .demo-section form {
            margin-top: 20px;
        }

        .demo-section div {
            margin-bottom: 15px;
        }

        .demo-section label {
            display: block;
            text-align: left;
            margin: 0 0 5px 2px;
            color: #333;
        }

        .demo-section input[type="text"],
        .demo-section input[type="email"],
        .demo-section input[type="tel"],
        .demo-section textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            /* Make sure padding doesn't affect width */
        }

        .demo-section input[type="submit"] {
            background-color: #0056b3;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .demo-section input[type="submit"]:hover {
            background-color: #003d7a;
        }


        .faq-section {
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 40%;
            text-align: center;
        }
        .demo-faq .faq-section h2{
            margin-left: 5px;
        }
        .faq-question {
            background-color: #ededed;
            padding: 10px;
            cursor: pointer;
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .material-symbols-outlined {
            align-items: end;
        }

        .faq-answer {
            background-color: #e0dfdf;
            padding: 10px;
            margin: -5px 0 5px 0;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
            opacity: 0;
            text-align: left;
        }
        
        .faq-answer.open {
            max-height: 300px; /* Adjust as necessary for your content */
            opacity: 1;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li>
                <%= link_to root_path do %>
                    <span class="material-symbols-outlined">home</span>
                    Home
                    <%end %>
            </li>
            <li>
                <%= link_to setup_login_path do%>
                    <span class="material-symbols-outlined">login</span>
                    Login
                    <% end %>
            </li>
            <!-- Add more navigation links as needed -->
        </ul>
    </nav>
    <section class="image-section">
        <div class="text">
            <h1>TraceMyDoc<sup>TM</sup></h1><br>
            <h2>OMIT YOUR PAPERWORK WOES</h2><br>
            <pre>TracemyDoc is a cloud based paperwork management application,
specially designed to manage the flow, storage, retrieval of documents,
with every document's handoff history accessible from all desktop and
mobile devices. Managing paperwork wasn’t this easy.</pre>
        </div>
        <img src="https://img.freepik.com/free-vector/duplicate-concept-illustration_114360-4010.jpg?w=740&t=st=1711006560~exp=1711007160~hmac=1bd4f7cc0cbb6b123a711524c256d4f541fafa7c959bb358f243a44c395903ea"
            alt="Document Management">
    </section>
    <div class="demo-faq">
        <section class="faq-section">
            <h2>Frequently Asked Questions</h2><br>
            <div class="faq">
                <div class="faq-question" onclick="toggleFaq(0)">
                    <div><strong>01.</strong> I need to download any software? How does TraceMyDoc work?</div><span
                        class="material-symbols-outlined">add</span>
                </div>
                <div class="faq-answer"><strong>Ans.</strong> No. TraceMyDoc is a cloud based solution. With an internet connection you can
                    use the software from any device.</div>
            </div>
            <div class="faq">
                <div class="faq-question" onclick="toggleFaq(1)">
                    <div><strong>02.</strong> My staff has minimum computer knowledge. Will he be able to use the
                        software?</div><span class="material-symbols-outlined">add</span>
                </div>
                <div class="faq-answer"><strong>Ans.</strong> TraceMyDoc is extremely user friendly. Users with almost no computer knowledge
                    can work on our software. Also, our implementation team will give hands on training to all your
                    staff.</div>
            </div>
            <div class="faq">
                <div class="faq-question" onclick="toggleFaq(2)">
                    <div><strong>03.</strong> Will it take time to start using the system? How do I feed all the item
                        list and stock data?</div><span class="material-symbols-outlined">add</span>
                </div>
                <div class="faq-answer"><strong>Ans.</strong> It usually takes only couple of weeks to get started. Our team will assist you
                    in migrating all your data with an easy excel import feature. There is no need for manual data
                    entry.</div>
            </div>
            <div class="faq">
                <div class="faq-question" onclick="toggleFaq(3)">
                    <div><strong>04.</strong> How is the software priced? Is it very expensive?</div><span
                        class="material-symbols-outlined">add</span>
                </div>
                <div class="faq-answer"><strong>Ans.</strong> Not at all. There is no one time huge investment. No additional infrastructure
                    cost. Just an affordable monthly subscription based on number of business divisions. Oh and also
                    there is no limit to the number of users.</div>
            </div>
            <div class="faq">
                <div class="faq-question" onclick="toggleFaq(4)">
                    <div><strong>05.</strong> What about software updates? Is it chargeable?</div><span
                        class="material-symbols-outlined">add</span>
                </div>
                <div class="faq-answer"><strong>Ans.</strong> We are continuously releasing updates. And the best part is, it is free. All
                    future improvements will come at no additional cost.</div>
            </div>
            <div class="faq">
                <div class="faq-question" onclick="toggleFaq(5)">
                    <div><strong>06.</strong> Is my data safe?</div><span class="material-symbols-outlined">add</span>
                </div>
                <div class="faq-answer"><strong>Ans.</strong> Our servers are hosted within Amazon's secure data centres with multiple data
                    backups. Which means, your data is really safe.</div>
            </div>

        </section>
        <section class="demo-section">
            <h2>Request a Demo</h2>
            <p>Experience the future of document management.</p>

            <%= form_tag( method: :post) do %>
                <div>
                    <%= label_tag :name, "Name" %>
                        <%= text_field_tag :name, nil, placeholder: "Your Name" %>
                </div>

                <div>
                    <%= label_tag :email, "Email" %>
                        <%= email_field_tag :email, nil, placeholder: "Your Email" %>
                </div>

                <div>
                    <%= label_tag :number, "Phone Number" %>
                        <%= telephone_field_tag :number, nil, placeholder: "Your Phone Number" %>
                </div>

                <div>
                    <%= label_tag :remarks, "Remarks" %>
                        <%= text_area_tag :remarks, nil, placeholder: "Your Remarks" %>
                </div>

                <div>
                    <%= submit_tag "Request Demo" %>
                </div>
                <% end %>
        </section>

    </div>

    <script>
        function toggleFaq(index) {
            const answers = document.querySelectorAll('.faq-answer');
            const targetAnswer = answers[index];
        
            if (targetAnswer.classList.contains('open')) {
                targetAnswer.classList.remove('open');
            } else {
                answers.forEach(answer => answer.classList.remove('open'));
                targetAnswer.classList.add('open');
            }
        }        
    </script>
</body>

</html>