<style>
/* Light Theme with Modern Elements */
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Light grey background */
    color: #333; /* Dark grey text */
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    border-radius: 24px;
    padding: 20px;
    margin: 3% 0 2% 0;
    width: 35%;
    background-color: #f0f2f5;
}

.signup_container h2 {
    color: #333;
    margin: 5% 0 3% 0;
}

.signup_container label {
    margin: 3px 0 5px -12.5%;
    color: #333; /* Dark text color for readability */
}

.signup_container input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], .select {
    width: 120%;
    padding: 10px;
    margin: 3px 0 6% -13%;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px;
    background-color: #fff; /* White background for input fields */
    color: #333; /* Dark text for inputs */
}
.signup_container .select{
    width:127%;
}

.signup_container .buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup_container a {
    text-decoration: none;
    color: #007bff; /* Bootstrap primary blue for links */
    margin: 15px 0;
    transition: all 0.3s ease-in-out;
}

.signup_container a:hover {
    color: #0056b3; /* Darker blue on hover */
}

.signup_container input[type="submit"] {
    width: 30%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #007bff; /* Border color same as link */
    border-radius: 5px;
    background-color: #007bff; /* Bootstrap primary blue for buttons */
    color: #fff; /* White text */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup_container input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.signup_container #error_message p {
    color: #dc3545; /* Bootstrap danger color for errors */
    margin-top: 10px;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


</style>
<div class="signup_container">
    <h2>Sign Up</h2>
    <%= form_tag('/setup/create', method: "post" ) do %>
        <div>
            <%= label_tag(:name, "Name:" ) %>
                <%= text_field_tag :name,"",:required=>true %>
        </div>
        <div>
            <%= label_tag(:department, "Department:" ) %>
            <%= select_tag :employee_department, options_for_select(@department.pluck(:name)), prompt: 'Select Department', class: 'select' %><br>
        </div>
        <div>
            <%= label_tag(:email, "Email:" ) %>
                <%= text_field_tag :email,"",:required=>true,type:'email' %>
        </div>
        <div>
            <%= label_tag(:mobile_number, "Phone Number:" ) %>
                <%= text_field_tag :mobile_number,"",:required=>true,type:'number' %>
        </div>
        <div>
            <%= label_tag(:password, "Password:" ) %>
                <%= password_field_tag :password, "", {id: "password",:required=>true} %>
        </div>
        <div>
            <%= label_tag(:confirm_new_password, "Confirm Password:" ) %>
                <%= password_field_tag :confirm_new_password, "" , {id: "confirm_password" ,onkeyup: "check_password()",:required=>true } %>
        </div>
        <div id="error_message" style="display: none;">
            <p>Password doesn't match</p>
        </div>
        <div class="buttons">
            <%= submit_tag("Signup") %>
            <p>Already an user? <%= link_to "Login", setup_login_url,class:"login_button" %></p>
        </div>
        <% end %>
</div>
<script>
    function check_password()
    {
        const password=document.getElementById("password");
        const confirm_password=document.getElementById("confirm_password");
            if (confirm_password.value===password.value)
            {
                document.getElementById("error_message").style.display="none";
                confirm_password.classList.remove("shake"); // Remove shake class
            }
            else
            {
            document.getElementById("error_message").style.display="block";
            confirm_password.classList.add("shake"); // Remove shake class
            }
    }
</script>