<style>

</style>

<div>
    <h1>Documents</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>File No</th>
                <th>Department</th>
                <th>Document From</th>
                <th>Amount</th>
                <th>Approval From</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% @documents.each do |document| %>
            <tr>
                <td><%= document.id %></td>
                <td><%= document.doc_id %></td>
                <td></td>
                <td><%= document.doc_name %></td>
                <td><%= document.doc_amount %></td>
                <td></td>
                <td><%= document.submission_date %></td>
                <td><%= link_to 'Accept'%></td>
                <td><%= link_to 'Reject', document_delete_path(document) %></td>
            </tr>
            <% end%>
        </tbody>
    </table>
</div>