<div>
    <h1>Documents</h1>
    <%= link_to "New Document", document_new_path %>
    <%= link_to "All Documents", document_alldocuments_path %>
    <%= link_to "Pending Accept", document_new_path %>
    <%= link_to "Pending Forward", document_new_path %>
    <%= link_to "logout", setup_logout_path %>
    <% if current_user %>
        <p>Welcome, <%= current_user %></p>
    <% else %>
        <%= red%>
    <% end %>
</div>
