<!DOCTYPE html>
<html>
  <head>
    <title>wheredoc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body>
    <% if !(controller_name == 'setup' && (action_name == 'login' || action_name == 'signup' || action_name=='employees' || logged_in? || request.path == root_path)) %>
    <%= render 'layouts/navbar_logout' %>
    <% elsif !(controller_name == 'setup'&&(action_name == 'login')||(action_name == 'signup')) %>
    <%= render 'layouts/navbar_login'%>
  <% end %>
  <%= yield %>
  </body>
</html>
